body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.hero-image{
    background-image: url('image/heroimage.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.hero-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.hero-wrapper h1{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}
.hero-wrapper p{
    font-size: 20px;
}
.form-code{
    text-align: center;
}
.form-code .type-code{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}
::placeholder{
    font-size: 20px;
    text-align: center;
    color: violet;
}
.form-code label{
    font-size: 25px;
    color: rgb(255, 84, 42);
    
}
button{
    width: 30%;
    
    padding: 10px;
    margin-top: 22px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 84, 42);
}
